.avatar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.avatar-link__avatar-image {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem; /* Adjust the spacing as needed */
  border-color: var(--color-main);
  border-style: solid;
}

.avatar-link__name {
  font-weight: bold;
}
