backend/chatbot/.env
*.gguf
myenv/
frontend/.env
backend/chat/.env
backend/backend/.env
backend/authentication/.env

# Ignore the SQLite database file
db.sqlite3

# Ignore the migrations folder
/migrations/
