.header {
  background-color: var(--color-dark-light);
  width: 90%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.1rem 1rem;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.header h3 {
  text-align: center;
  color: var(--color-light);
}

.body {
  width: 90%;
  max-width: 100rem;
  margin: 0rem auto;
  padding: 2rem 2rem;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.avatarContainer {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem; /* Adjust the spacing as needed */
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatarLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-bottom: 1rem;
}

.avatarLink__display-name {
  color: var(--color-main);
}

.btn__actions {
  font: inherit;
  border: 2px solid var(--color-main);
  background: transparent;
  color: var(--color-main);
  padding: 0.5rem 4rem; /* Adjust padding as needed */
  cursor: pointer;
  font-size: 1rem; /* Adjust font size as needed */
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center the text horizontally within the button */
  white-space: nowrap;
}

.subtitle {
  color: var(--color-gray);
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 80%;
}

.description {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-light-gray);
}

.roomInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -.5rem;
}

.room-name {
  color: var(--color-main);
  flex-grow: 1; /* Allow the room name to take up remaining space */
  font-size: 150%;
}

.button-group {
  margin-left: 1rem; /* Adjust spacing between room name and button as needed */
  display: flex;
  gap: 10px; /* Adjust the gap size as needed */
}
