.home {
  width: 90%;
  max-width: 40rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: center;
}

.button-display {
  margin-top: 1rem;
  margin-left: -2rem;
  margin-right: 3rem;
}

.alt-button-display {
  margin-top: 1rem;
  margin-left: -2rem;
  margin-right: 2rem;
}

.button-group-display {
  display: flex;
}

.alt-button-group-display {
  display: none;
  align-items: center;
}
.search-button-display {
  width: 90%;
  max-width: 35rem;
  min-width: 35rem;
  padding: 3rem;
  background-color: transparent;
  box-shadow: none;
  margin: -2.5rem auto;
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px; /* Adjust the gap as needed */
  margin: 100px 50px; /* Adjust the left and right margin as needed */
}

.side-card {
  flex: 1; /* Takes up 25% of the available space */
}

.room {
  flex: 2; /* Takes up 50% of the available space */
}

/* ======================= MEDIA QUERIES ( MEDIUM DEVICES) ==========*/
@media screen and (max-width: 1024px) {
  .room {
    flex: 1;
  }
  .side-card {
    display: none; /* Takes up 25% of the available space */
  }

  .button-group-display {
    display: none;
  }

  .alt-button-group-display {
    display: flex;
  }
}

/* ======================= MEDIA QUERIES ( SMALL DEVICES) ==========*/
@media screen and (max-width: 600px) {
  .search-button-display {
    max-width: 18rem;
    min-width: 18rem;
    width: 90%;
  }
}
