.home {
  width: 90%;
  max-width: 40rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: center;
}

.actions {
  text-align: left;
  margin-top: 1rem;
}

.actions div {
  margin-left: -55px;
  margin-top: -4px;
}

.btn {
  text-align: center;
  white-space: nowrap;
  padding: 0.75rem 4.5rem;
  margin: auto 2rem;
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px; /* Adjust the gap as needed */
  margin: 100px 50px; /* Adjust the left and right margin as needed */
}

.side-card {
  flex: 1; /* Takes up 25% of the available space */
}

.room {
  flex: 2; /* Takes up 50% of the available space */
}
