.roomcard {
  width: 90%;
  max-width: 40rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: center;
}

.roomcard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roomcard-header-left {
  text-align: left; 
  margin-top: -2rem; 
 
}

.roomcard-header-right {
  text-align: right;
  margin-top: -0.5rem; 
  color: var(--color-light-gray);
}

.roomcard__avatar-container {
  display: flex; /* Add flex display to make children align horizontally */
  align-items: center; /* Vertically center-align children */
  /* ... (other styles) */
}

.roomcard__avatar-container__img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.roomcard__avatarLink,
.roomcard__avatar-container__link {
  text-decoration: none;
  color: var(--color-main);
  margin-left: 1rem; /* Adjust the spacing as needed */
  /* ... (other styles) */
}

.roomcard__room-link {
  display: flex;
  align-items: left;
  text-decoration: none;
  color: var(--color-main-light);
}

.roomcard__room-link :hover {
  color: var(--color-main);
}

.roomcard__member {
  display: flex;
  color: var(--color-light-gray);
  align-items: left;
}

.roomcard__member-icon {
  size: 16;
  color: var(--color-main);
  margin-right: 0.5rem;
}

.room-card hr {
  border-color: var(--color-gray);
}

.roomcard__meta {
  border-top: 1px solid var(--color-dark-medium);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -2rem;
}

.roomcard__topic {
  padding: 5px 1.5rem;
  background-color: var(--color-dark-medium);
  color: var(--color-light-gray);
  border-radius: 5rem;
  font-weight: 500;
  font-size: 1rem;
}
