.header {
  background-color: var(--color-dark-light);
  width: 90%;
  max-width: 40rem;
  min-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.1rem 1rem;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.header h3 {
  text-align: center;
  color: var(--color-light);
}

.body {
  width: 90%;
  max-width: 40rem;
  min-width: 20rem;
  margin: 0rem auto;
  padding: 2rem 2rem;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.avatarContainer {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem; /* Adjust the spacing as needed */
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatarLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-bottom: 1rem;
}

.avatarLink__display-name {
  color: var(--color-light);
  font-weight: bold;
}
