.header {
  background-color: var(--color-dark-light);
  width: 90%;
  max-width: 40rem;
  min-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.1rem 1rem;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.header h3 {
  text-align: center;
  color: var(--color-light);
}

.body {
  width: 90%;
  max-width: 40rem;
  min-width: 20rem;
  margin: 0rem auto;
  padding: 2rem 2rem;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  height: 780px;
  background: var(--color-dark);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.inner-body {
  border: 1px solid var(--color-dark-medium);
  box-shadow: none;
  padding: 0.5rem 0.5rem;
  min-width: 18rem;
  margin-right: 2.5rem;
  margin-bottom: 1rem;
}

/* Style the scrollbar */
.body::-webkit-scrollbar {
  width: 10px;
  background: var(
    --color-dark-light
  ); /* Background color of the scrollbar track */
  border-radius: 10px;
}

.body::-webkit-scrollbar-thumb {
  background: var(
    --color-dark-medium
  ); /* Color of the scrollbar thumb (drag handle) */
  border-radius: 10px; /* Rounded corners for the thumb */
}
.body::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-medium); /* Color of the thumb on hover */
  border-radius: 10px;
}

/* Style the scrollbar track when it's not actively being scrolled */
.body::-webkit-scrollbar-track {
  background: var(--color-dark); /* Background color of the scrollbar track */
  border-radius: 10px;
}

/* Style the scrollbar when it's in a "corner" (e.g., bottom-right) */
.body::-webkit-scrollbar-corner {
  background: var(--color-dark);
  border-radius: 10px;
}

.avatarContainer {
  width: 30px; /* Adjust the size as needed */
  height: 30px; /* Adjust the size as needed */
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem; /* Adjust the spacing as needed */
  border-color: var(--color-main);
  border-style: solid;
  border-width: 1%;
}

.avatar__display-name {
  color: var(--color-main);
  font-size: 80%;
}

.avatar__image {
  width: 30px;
  height: 30px;
}
.room-link {
  color: var(--color-main);
  font-weight: bold;
  text-decoration: none;
}

.writer-info {
  display: flex; /* Use Flexbox to create a horizontal layout */
  align-items: center; /* Vertically align items */
  margin-bottom: 1rem;
}

.sent-date {
  font-size: 90%;
  margin-left: 1rem;
  align-items: center;
  color: var(--color-light-gray);
  line-height: 1.5;
}

.message-card {
  background: var(--color-bg);
  color: var(--color-light-gray);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 2%;
  line-height: 1.5;
}
