
.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: var(--color-light-gray);
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #696d97;
  background: #51546e;
  color: #e5e5e5;
}

.control input:focus {
  outline: none;
  border-color: #71c6dd;
  background: #51546e;
}

.control.invalid input {
  border-color: var(--color-error);
  background: #fbdada;
  color: black
}

.error-text p{
  color: var(--color-error);
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}
