.control {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.control label,
.control input,
.control textarea {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: var(--color-light-gray);
}

.control input,
.control textarea {
  text-align: left;
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid var(--color-dark-light);
  background: var(--color-dark-medium);
  color: var(--color-light);
  width: 100%;
}

.control input:focus,
.control textarea:focus {
  text-align: left;
  outline: none;
  border-color: var(--color-main);
  background: var(--color-dark-medium);
}

.control.invalid input,
.control.invalid textarea {
  text-align: left;
  border-color: var(--color-error);
  background: var(--color-bg-error-light);
  color: black;
}

.error-text p {
  color: var(--color-error);
}

.textarea {
  min-height: 5rem;
  max-height: 5rem;
  overflow-y: auto;
  width: 100%;
}


