.scrollableCard {
  background: var(--color-bg);
  box-shadow: 0 2px 8px var(--color-bg);
  border-radius: 10px;
  height: 400px; /* Adjust the fixed height as needed */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  padding: 16px;
  color: #e5e5e5;
}

/* Style the scrollbar */
.scrollableCard::-webkit-scrollbar {
  width: 10px;
  background: var(
    --color-dark-light
  ); /* Background color of the scrollbar track */
}

.scrollableCard::-webkit-scrollbar-thumb {
  background: var(
    --color-dark-medium
  ); /* Color of the scrollbar thumb (drag handle) */
  border-radius: 5px; /* Rounded corners for the thumb */
}

.scrollableCard::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark); /* Color of the thumb on hover */
}

/* Style the scrollbar track when it's not actively being scrolled */
.scrollableCard::-webkit-scrollbar-track {
  background: var(--color-bg); /* Background color of the scrollbar track */
}

/* Style the scrollbar when it's in a "corner" (e.g., bottom-right) */
.scrollableCard::-webkit-scrollbar-corner {
  background: var(--color-dark);
}
