.videoPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userName {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
  color: var(--color-main);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.videoContainer {
  width: 42rem;
  height: 42rem;
  border: 5px solid var(--color-light);
  background-color: black;
}

/* ======================= MEDIA QUERIES ( MEDIUM DEVICES) ==========*/
@media screen and (max-width: 1024px) {
  .videoContainer {
    width: 35rem;
    height: 35rem;
  }
}

/* ======================= MEDIA QUERIES ( SMALL DEVICES) ==========*/
@media screen and (max-width: 600px) {
  .videoContainer {
    width: 20rem;
    height: 20rem;
  }
}
