.profile-info {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100%; /* Ensure the container takes the full height of its parent */
}

.avatar-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  border-color: var(--color-main);
  border-style: solid;
  border-width: 2%;
}

.display-name {
  margin-top: 0.5rem;
  font-size: large;
  color: var(--color-main-light);
  display: flex;
  justify-content: center; /* Horizontal centering */
}

.follower {
  font-size: medium;
  color: var(--color-light-gray);
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.btn {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 0.5rem; /* Add spacing between followers and buttons */
  gap: 2rem;
}

.subtitle {
  color: var(--color-dark-light);
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.description {
  color: var(--color-main-light);
  line-height: 1.5;
}
