.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px; /* Adjust the gap as needed */
  margin: 100px 50px; /* Adjust the left and right margin as needed */
}

.side-card {
  flex: 1; /* Takes up 25% of the available space */
}

.user-profile {
  flex: 2; /* Takes up 50% of the available space */
}

/* ======================= MEDIA QUERIES ( MEDIUM DEVICES) ==========*/
@media screen and (max-width: 1024px) {
  .side-card {
    display: none;
  }
}

/* ======================= MEDIA QUERIES ( SMALL DEVICES) ==========*/
@media screen and (max-width: 600px) {
}
