* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: var(--color-bg);
}

body {
  margin: 0;
}

main {
  margin-top: 6rem;
}

:root {
  --color-main: #71c6dd;
  --color-main-light: #e1f6fb;
  --color-dark: #3f4156;
  --color-dark-medium: #51546e;
  --color-dark-light: #696d97;
  --color-light: #e5e5e5;
  --color-gray: #8b8b8b;
  --color-light-gray: #b2bdbd;
  --color-bg: #2d2d39;
  --color-success: #5dd693;
  --color-error: #fc4b0b;
  --color-bg-red: rgba(239, 68, 68, 0.1);
  --color-border-red: rgba(239, 68, 68, 1);
  --color-bg-green: rgba(68, 239, 68, 0.1);
  --color-border-green: rgba(68, 239, 68, 1);
  --color-main-hover: #ff6eff;
  --color-bg-error-light: #fbdada;

  /* Neon Color */
  --color-neon-purple: #b55aff;
  --color-neon-pink: #ff6eff;
  --color-neon-bluish-purple: #8b5aff;
  --color-neon-vivid-pink: #ff4dff;
  --color-neon-aqua: #00ffff;
  --color-neon-electric-blue: #00bfff;
  --color-neon-hot-pink: #ff69b4;
  --color-neon-magenta: #ff00ff;
  --color-neon-yellow: #ffff00;

  /* Blur Color */
  --color-neon-bluish-purple-blur: #8c5aff47;
}
