.header {
  background-color: var(--color-dark-light);
  width: 90%;

  margin-left: auto;
  margin-right: auto;
  padding: 0.1rem 1rem;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.header h3 {
  text-align: center;
  color: var(--color-light);
}

.body {
  width: 90%;

  margin: 0rem auto;
  padding: 2rem 2rem;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
