.actions {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 0.5rem; /* Add spacing between followers and buttons */
  gap: 2rem;
}

.signup {
  color: var(--color-light-gray);
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
}

.actions div {
  margin-left: -30px;
  margin-top: -4px;
}

.btn {
  text-align: center;
}

.signupLink {
  color: var(--color-main); /* Set the initial color to white */
  text-decoration: none; /* Remove underlines */
  transition: color 0.3s; /* Add a smooth color transition on hover */
}

.signupLink:hover {
  color: var(--color-main); /* Change the color to blue on hover */
}
