.card-display {
  display: inline;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  min-width: 20rem;
  max-width: 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.avatar-group {
  margin-top: 1rem;
}

.avatar-link {
  color: var(--color-main);
  justify-content: left;
  align-items: center;
  margin-left: 1rem;
}

.follower-display {
  color: var(--color-main);
  font-weight: bold;
  justify-content: left;
  margin-top: 1rem;
  align-items: center;
  margin-left: 1rem;
  font-size: 125%;
}
.counter-display {
  color: var(--color-main);
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
}

.counter-icon-display {
  margin-bottom: 3px;
}

.follower-icon-display {
  margin-bottom: -3px;
}
