.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3f4156;
  padding: 0 2rem;
}

.sub-link {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.sub-link a {
  text-decoration: none;
  margin-right: 30px;
}

.sub-link span {
  color: var(--color-light);
  font-size: 18px;
}

.sub-link span:hover {
  color: var(--color-main);
}

.main-header__home-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.main-header__home-link span {
  color: #fff; /* Change the color as needed */
  font-size: 24px; /* Adjust the font size as needed */
  margin-right: 0.5rem; /* Add margin to separate the icon from the text */
}

.main-header__home-link h2 {
  color: #fff; /* Change the color as needed */
  font-size: 24px; /* Adjust the font size as needed */
}

.main-header h2 {
  color: white;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content h2 {
  margin-right: 1rem;
}
