.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #8b8b8b;
  margin-bottom: 0.5rem;
}

.control .searchContainer {
  position: relative;
}

.control input {
  flex: 3;
  font: inherit;
  width: 24rem;
  padding: 0.5rem 2rem; /* Increase the padding to make it bigger */
  border-radius: 6px;
  border: 1px solid #696d97;
  background: #51546e;
  color: #e5e5e5;
}

.control input:focus {
  outline: none;
  border-color: #71c6dd;
  background: #51546e;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust the right positioning as needed */
  transform: translateY(-50%);
  color: #8b8b8b; /* Change the icon color as needed */
  cursor: pointer;
  pointer-events: none;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}
