.user-display-name {
  color: var(--color-light);
  text-wrap: nowrap;
}

.user-display-name:hover {
  color: var(--color-main);
  text-wrap: nowrap;
}

.avatarLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.avatarContainer {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem; /* Adjust the spacing as needed */
  border-color: var(--color-main);
  border-style: solid;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdown-menu {
  z-index: 111;
  position: absolute;
  top: 5rem;
  right: 0.5rem;
  background: var(--color-dark-light);
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.login-link {
  font-weight: bold;
  color: var(--color-light);
}

.login-link:hover {
  color: var(--color-main);
}
